<% if @foods != nil %>
  <% @foods.each do |food| %>
    <button type="button" id="<%= food.name.downcase.strip.gsub(' ', '-') %>">
      <%= content_tag(:p, "#{food.name}") %>
      <%= food.name %>
      <%= food.tryptophan %>
      <%= food.rectified_tryptophan %>
      <%= food.methionine %>
      <%= food.phenylalanine %>
      <%= food.rectified_phenylalanine %>
      <%= food.lysine %>
      <%= food.rectified_lysine %>
    </button>
  <% end %>
<% else %>
  <p> Welcome to Aminoize! Type in the name of a food to get started! </p>
<% end %>

