<% if @foods != nil %>
  <% @foods.each do |food| %>
    <button type="button" id="<%= food.name.downcase.strip.gsub(' ', '-') %>">
      <%= content_tag(:p, "#{food.name}") %>
      <%= food.name %>
      <%= food.histidine %>
      <%= food.isoleucine %>
      <%= food.leucine %>
      <%= food.lysine %>
      <%= food.methionine_cysteine %>
      <%= food.phenylalanine_tyrosine %>
      <%= food.threonine %>
      <%= food.tryptophan %>
      <%= food.valine %>
    </button>
  <% end %>
<% else %>
  <p> Welcome to Aminoize! Type in the name of a food to get started! </p>
<% end %>

